doctype html
html(lang='en')
 head
   title Hello, World!
 body
   h1 Hello, World!
   div.remark
     p Pug rocks!

     p 
        | Hi there just testing 
        | hello
   ul  
     li 
        a(href="#" style="text-decoration:none") Home 
     li 
        a(href="#" style="text-decoration:none") About 
     li 
        a(href="#" style="text-decoration:none") Contact