doctype html
html(lang='en')
    head
        title Hello, World!
    body
    h1 Hello, World!
    div.remark
        p Pug rocks!

        p 
        | Hi there just testing 
        | hello
    ul  
        li 
            a(href="#" style="text-decoration:none") Home 
        li 
            a(href="#" style="text-decoration:none") About 
        li 
            a(href="#" style="text-decoration:none") Contact
    input.search(placeholder='Enter a search term...')
    .a-new-div(style="background-color:blue;width:50%;height:100px")
    #a-new-id
    //- new paragraph
    p.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, molestiae rem nihil error odio repellat et perferendis a amet animi cupiditate iusto consequatur deserunt cum ducimus quaerat officia voluptatibus veritatis.
    p= 'Two to the power of ten is: ' + 2**10

    - const name = "Kathy"
    p Hi #{name}!
    .me(href=name)